@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-5px);
	}
	100% {
		transform: translate(0);
	}
}

.main {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	color: rgba(203, 226, 235, 0.822);
	padding-left: 50px;
}
.main > * {
	z-index: 40;
}
.main__intro {
	font-size: 30px;
}

.main__title {
	display: flex;
	margin-left: 20%;
}

.main__title > div > p {
	font-size: 200px;
	background: -webkit-linear-gradient(45deg, rgb(16, 95, 82), #048cb9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.main__title > div > p:first-child {
	margin-bottom: -100px;
	margin-left: -30px;
}
.main__title > i {
	font-size: 250px;
	background: -webkit-linear-gradient(45deg, rgb(16, 95, 82), #048cb9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main__footer {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	transform: translateY(30px);
}

.main__footer > div:last-child {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.main__icon {
	margin-top: 20px;
	display: block !important;
	color: rgb(16, 95, 82);
}
.main__mouse {
	font-size: 25px !important;
	color: rgb(16, 95, 82);
	animation: bounce 1.6s ease-in-out infinite;
}
.main__footer > div > p {
	font-weight: bold;
}
