.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	color: rgba(203, 226, 235);
	position: relative;
	background: linear-gradient(rgb(35, 115, 126), #74cce9);
	overflow: hidden;
}

.main__intro {
	font-size: 30px;
	padding-left: 50px;
	z-index: 10;
}

.main__title {
	display: flex;
	margin-left: 20%;
	z-index: 10;
}

.main__title > div > p {
	font-size: 200px;
	background: -webkit-linear-gradient(45deg, rgb(16, 95, 82), #048cb9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.main__title > div > p:first-child {
	margin-bottom: -100px;
	margin-left: -30px;
}
.main__title > i {
	font-size: 250px;
	background: -webkit-linear-gradient(45deg, rgb(16, 95, 82), #048cb9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main__footer {
	display: flex;
	justify-content: center;
	padding-left: 50px;
	color: rgb(16, 95, 82);
	transform: translateY(-15px);
	z-index: 10;
}
.main__footer > * {
	margin: 0 30px;
}
