@keyframes slide-in-left {
	from {
		transform: translateX(-20vw);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	from {
		transform: translateX(20vw);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
.projectItem__grid {
	min-height: 80vh !important;
}
.projectItem__gridItem {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: black;
	background-color: rgb(221, 221, 221);
	font-family: var(--main-font);
}
.projectItem__gridItem > h1 {
	font-size: var(--main-titleSize);
	margin-top: 10px;
	border-bottom: 2px solid black;
}
.projectItem__gridItem > a {
	border: 2px solid black;
	text-decoration: none;
	width: 150px;
	padding: 5px;
	font-size: var(--main-textSize);
	border-radius: 5px;
	margin-bottom: 15px;
	text-align: center;
	color: black;
	transition: all 0.2s ease-in-out;
}
.projectItem__gridItem > a:hover {
	background-color: black;
	color: white;
}
.gridImage {
	width: 80%;
	object-fit: contain;
	border-radius: 5px;
}

.projectItem__right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	padding: 30px;
	background-color: white;
	color: black;
}
.projectItem__right > h1 {
	font-size: var(--main-headerSize);
}
.projectItem__right > p {
	padding-left: 20px;
	font-size: var(--main-textSize);
	margin: 10px 0;
}
.projectItem__right > ul > li {
	list-style: none;
	padding-left: 20px;
	font-size: var(--main-textSize);
	margin: 10px 0;
}

.slideLeft {
	animation: slide-in-left 1.5s forwards;
}
.slideRight {
	animation: slide-in-right 1.5s forwards;
}
