@keyframes slide-in-left {
	from {
		transform: translateX(-20vw);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	from {
		transform: translateX(20vw);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
.projectItem__grid {
	height: 100% !important;
}
.projectItem__gridItem {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 80vh;
	border-radius: 5px;
}
.gridImage {
	width: 80%;
	object-fit: contain;
	border-radius: 5px;
}

.projectItem__right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 80%;
	min-height: 80%;
	background-color: #fdfddffd;
	border-radius: 5px;
	padding: 30px;
}
.projectItem__right > h1 {
	font-size: 20px;
}
.projectItem__right > p {
	padding-left: 20px;
	font-size: 15px;
	margin: 10px 0;
}
.projectItem__right > ul > li {
	list-style: none;
	padding-left: 20px;
	font-size: 15px;
	margin: 10px 0;
}
.bg__white {
	background-color: #292926fd;
}
.slideLeft {
	animation: slide-in-left 1.5s forwards;
}
.slideRight {
	animation: slide-in-right 1.5s forwards;
}
