.sportcards__grid {
	height: 100% !important;
}
.sportcards__gridItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	border-radius: 5px;
}
.sportcards__left {
	min-height: 40%;
	margin: 50px 0;
	width: 85%;
	max-width: 550px;
	border-radius: 10px;
	background-color: rgba(224, 223, 223, 0.336);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.sportcards__left > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 5px;
}

.sportcards__right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 80%;
	min-height: 80%;
	background-color: #fdfddffd;
	border-radius: 5px;
	padding: 30px;
}
.sportcards__right > h1 {
	font-size: 20px;
}
.sportcards__right > p {
	padding-left: 20px;
	font-size: 15px;
	margin: 10px 0;
}
.sportcards__right > ul > li {
	list-style: none;
	padding-left: 20px;
	font-size: 15px;
	margin: 10px 0;
}
.bg__white {
	background-color: #fdfddffd;
}
