* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-font: 'Barlow Condensed', sans-serif;
	--main-textSize: 1.4vw;
	--main-headerSize: 1.6vw;
	--main-titleSize: 2.2vw;
	--main-nameSize: 15vw;
}
html {
	scroll-behavior: smooth;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
::-webkit-scrollbar {
	display: none; /* Chrome Safari */
}

.app__main {
	position: relative;
	background: linear-gradient(rgb(35, 115, 126), #74cce9);
	overflow: hidden;
}
.app__info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 80vh;
	/* border: 2px solid purple; */
}
.app__info .app__title {
	font-size: 30px;
	font-style: italic;
	font-family: 'Ubuntu', sans-serif;
}
.app__info .app__name {
	font-size: 120px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 960px) {
	:root {
		--main-textSize: 2.8vw;
		--main-headerSize: 3.5vw;
		--main-titleSize: 4vw;
		--main-nameSize: 20vw;
	}
}
@media only screen and (max-width: 600px) {
	:root {
		--main-textSize: 4vw;
		--main-headerSize: 4.5vw;
		--main-titleSize: 5vw;
		--main-nameSize: 25vw;
	}
}
