* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.app {
	width: 100vw;
	background: linear-gradient(rgb(35, 115, 126), #74cce9);
}
.app__main {
	position: relative;
	height: 100vh;
	background: linear-gradient(rgb(35, 115, 126), #74cce9);
	overflow: hidden;
}
.app__info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 80vh;
	/* border: 2px solid purple; */
}
.app__info .app__title {
	font-size: 30px;
	font-style: italic;
}
.app__info .app__name {
	font-size: 100px;
	text-align: center;
}
/* .app__info > * {
	border: 2px solid red;
} */
.app__aboutMe {
	height: 100vh;
	background-color: rgb(49, 128, 165);
}
.app__portfolio {
	height: 100vh;
	background-color: rgb(167, 70, 223);
}
