@keyframes slideBorder {
	0% {
		background-color: transparent;
		transform: translateX(-60%);
	}
	100% {
		background-color: #990bf8cb;
		transform: translateX(0);
	}
}
.navbar {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__links > button {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	font-size: large;
	margin: 0 20px;
	background-color: transparent;
	border: none;
	outline: none;
	position: relative;
}
.navbar__links > button > span {
	position: absolute;
	height: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
}
button:hover > .border {
	animation: slideBorder 300ms ease-in forwards;
}
