.footer {
	background: url('../images/background.jpg');
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: none;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 8px;
	padding: 10px;
}
.footer__iconContainer {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}
.footer__iconContainer a {
	border: 1px solid white;
	color: white;
}
