@keyframes text-slideIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-in-right {
	from {
		transform: translateX(20vw);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.aboutMe {
	min-height: 100vh;
	background-color: #01404e;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--main-font);
	color: white;
}

.aboutMe__Container {
	width: 80% !important;
	margin: 0px auto;
	margin-top: 30px;
}
.aboutMe__Container h1 {
	font-size: 3.3vw;
}
.aboutMe__gridLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: var(--main-textSize);
}
.aboutMe__gridLeft > * {
	margin: 5px 0;
}
.aboutMe__imageContainer {
	height: 50%;
}
.aboutMe__imageContainer > img {
	height: 100%;
	object-fit: contain;
}

.aboutMe__gridRight > div {
	height: 100%;
	padding: 30px;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center; */
}
.aboutMe__gridRight > div > * {
	animation: text-slideIn 1s 350ms ease-in-out forwards;
	font-size: var(--main-textSize);
	opacity: 0;
	margin: 10px 0;
}

.skills_container {
	width: 90%;
	min-height: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: var(--main-textSize);
}
/* .skills_container h1 {
	font-size: 3vw;
} */

.skills_container img {
	width: 10vw;
	height: 150px;
	margin: 10px;
	object-fit: contain;
	opacity: 0;
	animation: slide-in-right 500ms ease-in forwards;
}

.skills_container a {
	display: block;
	width: 30%;
	min-width: 300px;
	margin: 30px auto;
	padding: 5px 0;
	border: 2px solid white;
	text-decoration: none;
	border-radius: 5px;
	color: white;
	transition: all 0.3s ease-in-out;
}
.skills_container a:hover {
	background-color: white;
	color: black;
}
@media only screen and (max-width: 960px) {
	.skills_container img {
		width: 20vw;
	}
	.aboutMe__Container h1 {
		font-size: 6vw;
	}
}
@media only screen and (max-width: 600px) {
	.aboutMe__Container {
		width: 100% !important;
	}
	.aboutMe__Container h1 {
		font-size: 8.3vw;
	}
}
