@keyframes text-slideIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-in-right {
	from {
		transform: translateX(20vw);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
.aboutMe {
	min-height: 100vh;
	background-color: rgb(73, 73, 73);
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutMe__Container {
	width: 80% !important;
	min-height: 80% !important;
	margin: 0 auto;
	border: 2px solid pink;
}
.aboutMe__gridLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.aboutMe__imageContainer {
	height: 50%;
}
.aboutMe__imageContainer > img {
	height: 100%;
	object-fit: contain;
}

.aboutMe__gridRight {
	padding: 15px;
}
.aboutMe__gridRight > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.aboutMe__gridRight > div p {
	animation: text-slideIn 1s ease-in-out forwards;
	margin: 20px 0;
}
.aboutMe__gridRight > div h1 {
	animation: text-slideIn 1s ease-in-out forwards;
	margin: 30px 0;
}

.aboutMe__gridRight > div a {
	border: 2px solid white;
	text-decoration: none;
	border-radius: 5px;
	width: 40%;
	padding: 3px 0;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	transition: all 0.2s ease-in-out;
}

.skills_container {
	width: 80%;
	min-height: 200px;
	margin: 0 auto;
	text-align: center;
}

.skills_container img {
	width: 150px;
	height: 100px;
	object-fit: contain;
	animation: slide-in-right ease-in;
}
.buttonContainer {
	width: 80%;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hire_me {
	border: 2px solid white;
	text-decoration: none;
	padding: 3px 50px;
	border-radius: 5px;
	color: white;
	transition: all 0.2s ease-in-out;
}
.hire_me:hover {
	background-color: white;
	color: black;
}
